/*RESPONSIVES*/
@media only screen and (max-width: 767px) {
	div.img-container span {
		font-size: 120px!important;
		line-height: 290px!important;
	}
	div.img-container {
	    height: 290px!important;
	}
	nav.navbar {
		background-color: rgba(0,0,0,0.8)!important;
		border-color: rgba(0,0,0,0.8)!important;
	}
}
@media only screen and (max-width: 450px) {
	div.img-container span {
		font-size: 80px!important;
		line-height: 190px!important;
	}
	div.img-container {
	    height: 190px!important;
	}
	div.navbar-header a.navbar-brand {
		font-size: 25px!important;
	}
}
/*END OF RESPONSIVES*/
body {
	font-family: 'Nunito Sans', sans-serif;
}
h4 {
	font-family: 'Meie Script', cursive;
}
.m-r-10 {
	margin-right: 10px!important;
}
div.img-container {
    height: 490px;
    overflow: hidden;
}
img.header {
	padding: 0;
	height: 100%;
	width: auto;
}
nav.navbar {
	background-color: transparent;
	border-color: transparent;
}
nav.navbar.nav-solid {
	background-color: rgba(0,0,0,0.8);
	border-color: rgba(0,0,0,0.8);
}
nav.navbar a {
	color: #e6e6e6 !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: rgb(255, 255, 255) !important;
	outline:none;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgb(81, 81, 81);
    transition: all .5s ease;
}
nav.navbar div.navbar-header a.navbar-brand {
	font-family: 'Meie Script', cursive;
    font-size: 45px;
    margin: 0 0 0 3px;
    padding-top: 19px;
}
div.img-container span {
	font-family: 'Meie Script', cursive;
	color: rgb(255, 255, 255);
	position: absolute;
	font-size: 200px;
	z-index: 1;
	line-height: 490px;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
section.about .container p img.ornamental2 {
	margin: 100px;
}
nav.navbar div.navbar-header ul.nav.navbar-nav li > a.nav-item:hover {
	color: rgb(194, 194, 194);
}
section > div.container > div.row > div.content {
	padding: 100px 90px 100px 90px;
}
section > div.container > div.row > div.content p {
	font-size: 22px;
	color: #757575;
	text-align: center;
}
section .container .row h4 {
	width: 100%;
	text-align: center;
	font-size: 80px;
	margin-top: 70px;	
	margin-bottom: 30px;
}
section .container .row.galery-container a > img.img-fluid {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.ekko-lightbox-nav-overlay span{
	color: #6d6d6d !important;
}